.navbar{
	margin:0;
}

.row, .col-{
	margin:0;
}
.container-fluid{
	padding: 0;
}
/* navegador Movil */
.carpLogo{ /*LOGO CARPA*/
	width: 52px;
    height: 52px;
    float: right;
    margin-right:18px;
}

.flag{
	width: 30px;
	height: 25px;
}


.imgCamping{
	background-image: url(../img/camping.jpg);
	background-repeat: no-repeat;
	
	background-size: 100%;
	background-position: 95% 93%;
	padding-top:35%;
	padding-bottom:15% ;
	padding-right: 0;

}
.container-text{
	margin-right: 0px;
}
.card-title{
	padding-top: 2%;
	color:#FFFFFF;
}

/*DESKTOP*/

.titleh1, .pline{
	color:#FFFFFF;
}
.line1{
	padding-right: 10%;
	padding-left: 5%;
	color: #FFFFFF;
}

.line2{
	padding-left: 10%;
	padding-bottom: 8%;
	color:#FFFFFF;
}



/**/
.binnacle{  /*bitacota*/
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 18px;

    width: 140px;
    margin-left :15px;


	

}

.mochilero{

	width: 100px;
	height: 100px;
}

.chat{
	background-color: #FFFFFF;
}
.chat-img{
	width: 100px;
	height:100px;
}

.text-chat{
	padding-top: 10px;
}
/*SECTION MAPA*/

.map{
	background-color: #01DFA5;
	color: #fff;
}



.input-group-addon{
	background-color: #01DFA5;
	border:none;
}

.input-first{
	background-color: #01DFA5;
	color: #FFF;
	border:1px solid white;

}

.input-first::placeholder{
	color: white;
}

.input-group{
	padding-bottom: 4%;
}

.map button{
	color: black;

}

.borderTarif{
	padding-top: 5%;
	padding-left: 3%;
}

.map1{	
	margin-left:25%;
	margin-top: 10%;
	width: 25em;
	height: 25em;
	border: 5px solid white;
	padding: 1%;
	margin-bottom: 20%;
	margin-top: 20%;
}

.map2{
	
	width: 85%;
	height: 15em;
	padding: 4%;
	margin-left: 8%;
	margin-bottom: 5%;
	border:2px solid #FFF;
}

.btn-road{
	margin-bottom: 4%;
	margin-left:30%;
}

.btnBar{
	float: left;
	margin-left: 2%;
}

/*FOOTER*/

footer{
  background-color:#2b2b2b; 
  color: #fff;
}
.iconos{
  display: inline-block;
  list-style: none;
  margin-right: 3%;
}
.icons{
  padding-top: 55%;
}
li{
  list-style: none;
}
.iconos2{
  display: inline-block;
}

.webGeneric{
	margin-top: 5%;
}

/*MODAL DE INICIA SESION */
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
   
    background-color: #f44336;
}

.containerbtnCancel{
	width: 20%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/* MODAL2 REGISTER */

.contTitleModal{
	border:1px solid black;
	padding-left: 30%;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 5px;
}

.modalTitle2{
	padding-left: 30%;
}